.login-page {
    padding: 2rem;
    form {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        width: 250px;
        gap: 5px;

        .btns {
            padding: rem(10px);
            display: flex;
            justify-content: space-around;
            button {
                padding: 0.5em 1em;
                border: 1px solid grayscale($primary);
                border-radius: 3px;
                &.login-btn {
                    background-color: rgb(89, 231, 89);
                }
                &.signup-btn {
                    background-color: rgb(25, 116, 253);
                }
            }
        }
        .error {
            color: red;
        }
    }
}
